<div class="container no-padding">
  <form [formGroup]="formElement" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 header-row no-padding">
        <ul>
          <li>FREETXT</li>
          <li class="active-li">FPL</li>
          <li>CHG</li>
          <li>CNL</li>
          <li>DLA</li>
          <li>DEP</li>
          <li>ARR</li>
          <li>CPL</li>
          <li>EST</li>
          <li>CDN</li>
          <li>ACP</li>
          <li>RQP</li>
          <li>RQS</li>
          <li>SPL</li>
          <li>ALR</li>
          <li>RCF</li>
        </ul>
      </div>
      <div class="content-row col-sm-12 col-md-12 col-lg-12">
        <div class="content-sub-row content-row-1">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>(</p>
          </div>
          <div class="central-section">
            <div class="section-portion">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="">3 MessageType*</label>
                    <input
                      type="text"
                      class="form-control form-control-strip"
                      placeholder="FPL"
                      [formControlName]="'messageType'"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="section-portion">
              <p class="text-center column-gap-symbols">-</p>
            </div>
            <div class="section-portion">
              <div class="section-portion-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="form-group">
                      <label for="">7 AircraftID*</label>
                      <input
                        type="text"
                        class="form-control"
                        [formControlName]="'aircraftId'"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-portion-content">
                <p class="column-gap-symbols">/</p>
              </div>
              <div class="section-portion-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="form-group">
                      <label
                        for=""
                        class="text-center"
                        style="margin-left: 10px"
                        >SSRMode &Code</label
                      >
                      <ul class="inline-form">
                        <li class="text-center">
                          <input
                            type="text"
                            class="form-control"
                            [formControlName]="'ssrMode'"
                          />
                        </li>
                        <li>
                          <p class="text-center">-</p>
                        </li>
                        <li>
                          <input
                            type="text"
                            class="form-control"
                            [formControlName]="'code'"
                          />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-portion column-gap">
              <p class="text-center">-</p>
            </div>
            <div class="section-portion right-side">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">8 FlightRules*</label>
                    <input
                      type="text"
                      class="form-control"
                      [formControlName]="'flightRules'"
                    />
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Type Of Flight*</label>
                    <input
                      type="text"
                      class="form-control"
                      [formControlName]="'typeOfFlight'"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p style="visibility: hidden" class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 2 (Begins) -->
        <div class="content-sub-row content-row-2">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>-</p>
          </div>
          <div class="content-sub-row-content mid-way-column">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
                <div class="form-group">
                  <label for="">9 Aircraft Number*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'airCraftNumber'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
                <div class="form-group">
                  <label for="">AircraftType*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'aircraftType'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
                <div class="form-group">
                  <label for="">WakeTurbulenceCat</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'wakeTurbulenceType'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="content-sub-row-content column-gap"></div>
          <div class="content-sub-row-content right-side">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">10 COM/NAV/APP</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'comNav'"
                  />
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="">aid equipment*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'aidEquipment'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p style="visibility: hidden" class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 2 (Ends) -->

        <!-- Sub row 3 (Begins) -->
        <div class="content-sub-row content-row-5">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>-</p>
          </div>
          <div class="content-sub-row-content mid-way-column">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">13 DEP Aero.&Time*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'depAero'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p style="visibility: hidden" class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 3 (Ends) -->

        <!-- Sub row 4 (Begins) -->
        <div class="content-sub-row content-row-5">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>-</p>
          </div>
          <div class="content-sub-row-content mid-way-column">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">15 Cruising Speed*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'cruisingSpeed'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">Crusing Level</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'cruisingLevel'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">Route*</label>
                  <input
                    type="text"
                    class="form-control"
                    style="width: 140px"
                    [formControlName]="'route'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p style="visibility: hidden" class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 4 (Ends) -->

        <!-- Sub row 5 (Begins) -->
        <div class="content-sub-row content-row-5">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>-</p>
          </div>
          <div class="content-sub-row-content mid-way-column">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">16 DST Aero.&TotalEET*</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'dstAero'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">1st Alt Aerodrome</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'altAerodrone'"
                  />
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="">2nd Alt Aerodrome</label>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="'otherInfo'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p style="visibility: hidden" class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 5 (Ends) -->

        <!-- Sub row 6 (Begins) -->
        <div class="content-sub-row content-row-6">
          <div
            class="content-sub-row-content"
            style="padding: 40px 0 0 5px; font-weight: bold; font-size: 20px"
          >
            <p>-</p>
          </div>
          <div class="content-sub-row-content mid-way-column">
            <div class="form-group">
              <label for="">18 OtherInfo</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div
            class="content-sub-row-content"
            style="padding: 40px 5px 0 0; font-weight: bold; font-size: 20px"
          >
            <p class="text-right">)</p>
          </div>
        </div>
        <!-- Sub row 6 (Ends) -->
      </div>
      <div class="row button-row">
        <ul>
          <li>
            <button type="submit" class="btn btn-info" [disabled]="formElement.invalid">Submit</button>
          </li>
          <li>
            <button type="button" class="btn btn-info">Display</button>
          </li>
          <li>
            <button type="button" class="btn btn-info" (click)="clearForm()">
              Clear
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-info" (click)="printForm()">Print</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
